.descriptionbox {
    margin: 120px 170px;
}

.descriptionbox-nav-box {
    font-size: 16px;
    font-weight: 600;
}

.descriptionbox-nav-box.fade {
    color: #555;
    background: #FBFBFB;
}

.descriptionbox-description {
    border: 1px solid #D0D0D0;
    padding-bottom: 70px;
}

/* Mobile view adjustments */
@media (max-width: 768px) {
    .descriptionbox {
        margin: 20px;
    }
    .descriptionbox-description {
        padding: 20px;
        gap: 15px;
    }
}
