/* .shopcategory-banner{
    display: block;
    margin: 30px auto;
    width: 82%;
}
.shopcategory-indexSort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}
.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}

.shopcategory-indexSort p span{
    font-weight: 600;
}
.shopcategory-products{
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    
    
}
.shopcategory-products .item{
    width: 250px;
}
.shopcategory-products img{
    height: 190px;
    width: 190px;
}
.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    width: 223px;
    height: 59px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
} */

/* ShopCategory.css */

/* Banner image */
.shopcategory-banner {
    width: 100%;
    object-fit: cover;
    height: auto;
  }
  
  /* Product container */
  .shopcategory-products {
    margin-top: 15px;
  }
  
  /* Individual product item */
  .product-item {
    position: relative;
    width: 100%;
    padding-top: 100%; /* This creates a 1:1 aspect ratio for the container */
  }
  
  .product-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container */
  }
  
  .shopcategory-indexSort {
    margin-top: 15px;
  }
  
  .shopcategory-sort img {
    margin-left: 5px;
  }
  
  .shopcategory-loadmore {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  