.newsletter{
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-top: 150px;
    background: linear-gradient(180deg,#a3df81,#e1ffea22 60%);
    gap: 30px;
    border-radius: 40px;
}


.newsletter h1{
    color: rgb(99, 99, 99);
    font-size: 55px;
    font-weight: 500
}

.newsletter p{
    color: rgb(0, 0, 0);
    font-size: 20px
}
.newsletter div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(161, 160, 160);
    width: 730px;
    height: 70px;
    border-radius: 80px;
}

.newsletter input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    background: rgb(161, 160, 160);
    font-family: Poppins;

}
::placeholder {
    color: rgb(0, 0, 0);
    opacity: 1; /* Firefox */
  }
  

.newsletter div button{
    width: 210px;
    height: 70px;
    border-radius: 80px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}