.offer{
    width: 65%;
    height: 60vh;
    display: flex;
    
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg,#146c8c 0%,#e1ffea22 60%);
    border-radius: 30px;
}

.offer-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offer-left h1{
    color: #171717;
    font-size: 80px;
    font-weight: 600;
}


.offer-left p{
    font-size: 22px;
    color: #171717;
    font-weight: 600;
}

.offer-left button{
    width:282px;
    height: 70px;
    border-radius: 35px;
    background-color: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}
.offer-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content:center;
    padding-top: 50px;
    padding-left: 20%;

}
.offer-right img{
    height: 400px;
    width: 400px;
    border-radius: 40px;
}